# Docker
docker-compose.yml
docker-compose.yml.override
*.env
*.env.local
*.env.*.local
*.log
*.pot
*.potx
*.tmp
*.pid
*.coverage
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pyo.*
*.egg-info/
*.egg/
*.egg-info/
__pycache__/
*.egg-info/
*.egg/
*.pyz
*.pyw
*.pyz/
*.pyw/
*.dockerfile
*.dockerignore
*.dockerenv
*.dockerignore
.DS_Store
!.dockerignore
!.dockerenv
!.gitignore
!.dockerignore
!.dockerenv
!Dockerfile

# Vagrant
.vagrant/
*.vbox
*.vbox-prev
*.box
*.iso
*.vmdk
*.vmx
*.vmem
*.log
*.lock
*.state
*.swp
*.tmp
